body{
    background-color: #191919;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    font-size:30px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
.moves{
    height:120px;
    border-radius: 60px;
    width: 120px;
    background-color: #191919;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    margin-right: 10px;
    cursor: pointer;
}
.moves img{
    height:50px;

}
.js-result{
    font-weight: bold;
    font-size: 25px;
    margin-top: 50px
}
.result-emoji{
    height:50px
}
.js-score{
    margin-top: 60px;
}
.reset-button{
   font-size: 15px;
   padding:8px 15px;
}